aws/stepfunctions/MyStateMachine-1khbBEZJkyis.asl.json
{
  "Comment": "Process shopping order state machine",
  "StartAt": "AddUserInfo",
  "States": {
    "AddUserInfo": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "AddUserDetails",
          "States": {
            "AddUserDetails": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:eu-west-2:756525791342:function:orderprocessor-parallel-UserDataFunction-R5O9GC0KGENV",
              "OutputPath": "$.data",
              "End": true
            }
          }
        },
        {
          "StartAt": "AddCustomerInformation",
          "States": {
            "AddCustomerInformation": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:eu-west-2:756525791342:function:orderprocessor-parallel-CustomerInformationFunctio-9DIXO8ZXM0SO",
              "OutputPath": "$.data",
              "End": true
            }
          }
        }
      ],
      "OutputPath": "$.data",
      "Next": "AddOrder"
    },
    "AddOrder": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-west-2:756525791342:function:orderprocessor-parallel-OrderDataFunction-1SHKIWEL8O6TJ",
      "OutputPath": "$.data",
      "Next": "ApplyDiscounts"
    },
    "ApplyDiscounts": {
      "Type": "Map",
      "InputPath": "$.order",
      "ItemsPath": "$.products",
      "MaxConcurrency": 0,
      "Iterator": {
        "StartAt": "ApplyDiscount",
        "States": {
          "ApplyDiscount": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:eu-west-2:756525791342:function:orderprocessor-parallel-ApplyDiscountsFunction-1DPEH4FL7TTIZ",
            "End": true
          }
        }
      },
      "ResultPath": "$.order.products",
      "Next": "ChannelTypeChoice"
    },
    "ChannelTypeChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.channel",
          "StringEquals": "sms",
          "Next": "SendInvoiceBySMS"
        }
      ],
      "Default": "SendInvoiceByEmail"
    },
    "SendInvoiceBySMS": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-west-2:756525791342:function:orderprocessor-parallel-MyLambdaFunction-1X3UYMG2JBDGF",
      "End": true
    },
    "SendInvoiceByEmail": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-west-2:756525791342:function:orderprocessor-parallel-MyLambdaFunction-1X3UYMG2JBDGF",
      "End": true
    }
  }
}